body{
    color: #222;
}
/*Typography*/
.box p{
    margin: 1rem;
}
a{
    text-decoration: 0;
    color: black;
}
h2{
    font-size: 3rem;
    margin: 3rem 0 1rem;
    text-align: center;}
p{
    font-size: 2rem;
    line-height: 1.5;
}
li{
    font-size: 2rem;
}
table{
    margin: 3rem 0 1rem;
    border: 10px solid #222;
    border-collapse: collapse;
}
td,
th {

  border: 2px solid #222;
  padding: 15px;
  font-size: 175%;
}
th{
      background-color: #7eddf7;
}
tr:nth-child(odd) {
    background: #eef7ff;
}
tr:nth-child(even) {
    background: white;
}
/*Navigation bar*/
.navigationbar{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 70px;
    background-color: darkgreen;
    border: 5px double red;
    border-top: 0;
    position: fixed;
    top: 0;
    right: 0;
    left:0;
    z-index: 5;
    display: flex;
    justify-content: space-around;
    letter-spacing: 1px;
}
.navigationbar h1{
    font-family:Permanent Marker, 'Times New Roman', Times, serif;
    position: relative;
    top: -2.5rem;
    font-size: 300%;
    letter-spacing: 3px;
}
.szimb{
    position: relative;
    top: 1rem;
    clip-path: circle(37% at 50% 50%);
}

#labm,#hatm{
    font-family:Rubik Doodle Shadow, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 200%;
    margin: 1rem;
}
#labm:hover,#hatm:hover{ 
    animation:pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
    transform: scale(1.5);
}

/*Grid*/
.container{
    display: grid;
    grid-template-rows: 4rem 500px auto auto auto auto 100px;
    grid-template-columns:1fr 1fr;
}
.boxh{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Individual boxes*/
/*Plus box*/
.box1{
    grid-column-start: 1;
    grid-column-end: 3;
}
/*Buddha*/
.buddha{
    grid-column-start: 1;
    grid-column-end: 3;
    background: url(./buddha-statue-on-rock-blurred-260nw-2272616691.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.buddha p{
    padding: 10px;
    background-color: rgba(70, 70, 70, 0.5);
    max-width: 45ch;
    font-family: Pacifico, 'Times New Roman', Times, serif;
    line-height: 45px;
    font-size: 200%;
    color: whitesmoke;
}
.buddha h2{
    padding-left: 20px;
    display: inline;
    background-color: rgba(70, 70, 70, 0.5);
    font-family: Pacifico, 'Times New Roman', Times, serif;
    font-size: 300%;
    color: whitesmoke;
    position: relative;
    top: 1.15rem;
}
/*Box 2 (Boldog karácsonyt)*/
.box2{
    grid-area: 3/1/4/2;
    position: relative;
}
/*Karácsonyi kép*/
.regvers{
    height: 350px;
    margin-top: 10px;
    background: url(./shutterstock_485581171-360x240.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*Box 4 (Hátmasszázs kép)*/
.box4{
    height: 430px;
    background: url(./00003_88072_600x314_normal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*Hát*/
#hát{
    background-color: rgba(245, 223, 162,0.5);
}
/*Box 6 (Lábmasszázs kép)*/
.box6{
    height: 430px;
    background: url(./lab-3.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}
/*Box 8 (Táblázat)*/
.box8{
    background-color: rgba(245, 223, 162,0.5);
}
.t4{
    border-right: 5px solid #222;
}
/*Fizetés*/
.fizetes {
        background-color: rgba(245, 223, 162,0.5);
}
/*Foter*/
.foot{
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(169, 169, 169);
    display: flex;
    justify-content:center;
    align-items: center;
}
/*Abaut Me page*/
.cont{
    display: flex;
    justify-content: space-between;
}
span{
    margin: 20px;
}
.icon:hover{
    font-size: 150%;
    border: 5px solid darkgreen ;
}

/*Media queries*/
@media screen and (max-width:1265px){
    .navigationbar{
        height: 205px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .navigationbar h1{
        top: -1rem;
        margin: 1rem;
    }
    #labm,#hatm{
        margin: 0.3rem;
    }
    .container{
        grid-template-rows: 205px auto auto auto auto auto 100px;
    }

}
@media screen and (max-width:950px){
    .container{
        display: flex;
        flex-direction: column;
    }
    .box1{
        height: 205px;
    }
    #hát{
        order: 1;
    }
    .box4{
        order: 2;
    }
    #láb{
        order: 3;
    }
    .box6{
        order: 4;
    }
    .fizetes{
        order: 5;
    }
    .box8{
        order: 6;
    }
    .foot{
        order: 7;
    }
}
@media screen and (max-width:647.27px){
    .navigationbar{
        height: 260px;
    }
        .box1{
            height: 260px;
        }
}
@media screen and (max-width:477px){
        .utol{
            padding: 0;
        }
        .utol td,.utol th{
            padding: 0;
        }}
@media screen and (max-width:384.13px){
    .navigationbar{
        height: 320px;
    }
        .box1{
            height: 320px;
        }
}
